*.iml
*.env
.gradle
release/
node_modules/
/heroku_server
/server/server_heroku
/server/dist
/client/local.properties
/client/.idea/caches
/client/.idea/libraries
/client/.idea/modules.xml
/client/.idea/workspace.xml
/client/.idea/navEditor.xml
/client/.idea/assetWizardSettings.xml
.DS_Store
/client/build
/client/captures
.externalNativeBuild
.cxx
local.properties

google-services.json