<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227760236020-29gnna9iep9tafp4qbsarj7fd1qsoqes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227760236020-29gnna9iep9tafp4qbsarj7fd1qsoqes</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>227760236020-17e93vsolclvsqsvshr5rkti25dfo0n1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmSf5pmwHnsZAsMySAYLWON0vgI661bU</string>
	<key>GCM_SENDER_ID</key>
	<string>227760236020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pcConfiguratorClient</string>
	<key>PROJECT_ID</key>
	<string>pc-configurator-6ae38</string>
	<key>STORAGE_BUCKET</key>
	<string>pc-configurator-6ae38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227760236020:ios:cd893ef35d3f4824ab45a1</string>
</dict>
</plist>